<!--navbar -->
<nav class="navbar navbar-default navbar-fixed-top" style="margin: 10px" >
  <div class="container-fluid">
<!--    Logo and name -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="favicon.ico" width="30" height="30" class="" alt="logo">
      </a>
      <h4>{{title}}</h4>
    </div>

    <!--    Button -->
    <div class="">
      <button type="button" class="btn btn-default navbar-right ">Logout</button>
    </div>

  </div> <!-- container-fluid -->
</nav>
